[Unit]
Description=Mathgame Web Server
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Restart=always
RestartSec=1s

WorkingDirectory=/home/ubuntu/mathgame_2
ExecStart=make prod_web

[Install]
WantedBy=multi-user.target
