@import "styles.scss";

#landing-hero {
  background-color: $color-one;
  .hero-content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 0.95*$max-width;
    padding: $base-space;
    padding-top: 7*$base-space;
    padding-bottom: 7*$base-space;
    .hero-copy {
      width: 50%;
      p {
        font-size: 1.125em;
        line-height: 1.5;
        margin-top: $base-space;
      }
      .button-container {
        button {
          background-color: $color-one-contrast;
          color: white;
          font-weight: 400;
          margin-top: 1.5*$base-space;
          transition-duration: 0.1s;
          &:active {
            transform: scale(0.95);
          }
        }
      }
    }
    .hero-image {
      background-size: contain;
      border-radius: 20%;
      box-shadow: 0 0 2em 2em $color-one inset;
      margin-top: -5em;
      margin-bottom: -5em;
      width: 50%;
      img {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  #landing-hero .hero-content {
    padding: 4*$base-space 2*$base-space;
    .hero-copy {
      width: 100%;
    }
    .hero-image {
      display: none;
    }
  }
}
