@import "reset.scss";
@import "styles.scss";
@import "components.scss";

#main-menu {
  align-items: center;
  background-color: $background-color;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: $max-width;
  padding: $base-space;
  a {
    color: inherit;
    text-decoration: none;
  }
}

#content {
  background-color: $background-color;
}

