@import "styles.scss";

.progress {
  border-radius: $base-radius;
  border: 1px solid gray;
  font-size: 1.5em;
  height: 1em;
  .progress-meter {
    background-color: $color-one;
    border-radius: $base-radius 0 0 $base-radius;
    height: 100%;
  }
}

#problem {
  border-top: 1px gray;
  margin: 0 auto;
  max-width: $max-width;
  padding: 0 $base-space;
  text-align: center;
  #problem-answer-input {
    border: none;
    border-bottom: 2px solid #333;
    font-size: 3em;
    width: 100%;
  }
  button {
    background-color: $color-one-contrast;
    color: white;
    font-weight: 400;
    margin-top: 1.5 * $base-space;
  }
}
#problem-display {
  margin: 1em 0;
  &.word-problem {
    .katex {
      .base {
        display: block;
        text-wrap: wrap;
        width: 100%;
      }
      .mord {
        display: inline-block;
      }
    }
  }
  .alert {
    margin-top: 0.5em;
  }
}
#problem-companion {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: $max-width;
  padding: 0 $base-space;

  #problem-mirror {
    max-width: 0.7 * $max-width;
    text-align: center;
    width: 70%;
    #problem-answer-companion {
      font-size: 2em;
    }
  }

  #problem-attempts {
    margin-left: 2em;
    max-width: 0.3 * $max-width;
    width: 30%;
    .problem-attempt {
    }
    .attempt-time {
      float: right;
      font-size: 0.5em;
    }
    #problem-attempts-header {
      font-size: 1.25em;
      font-variant: small-caps;
      text-align: center;
    }
  }
}
