@import "styles.scss";

#setup {
  border-top: 1px gray;
  margin: 0 auto;
  max-width: $max-width;
  padding: 0 $base-space;
  text-align: center;
  #setup-tabs {
    border-bottom: 1px dotted lightgray;
    display: flex;
    justify-content: space-evenly;
    .tab {
      border-bottom: 0.25em solid white;
      padding: $base-space 2*$base-space;
      position: relative;
      &.active {
        border-color: $color-one-contrast;
        .number {
          background-color: $color-one-contrast;
        }
      }
      .tab-click-catcher {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        &:hover {
          cursor: pointer;
        }
      }
      .number {
        background-color: $color-inactive;
        color: white;
        border-radius: 50%;
        display: inline-block;
        height: 1.5em;
        line-height: 1.5em;
        margin-right: 1em;
        width: 1.5em;
      }
      .label {
      }
    }
  }
}

.tab-content {
  padding: 2*$base-space;
  h2 {
    margin-bottom: $base-space;
  }
  .setup-form {
    display: inline-block;
    width: 80%;
    h4 {
      margin-bottom: $base-space;
      span.error {
        color: $color-error;
      }
    }
  }
  #start-playing-button {
    font-size: 1.5em;
    margin-top: 2em;
  }
}

@media only screen and (max-width: 870px) {
  #setup {
    #setup-tabs .tab {
      padding: none;
      .number {
        margin-right: 0;
      }
      .label {
        display: none;
      }
    }
    .tab-content {
      padding: $base-space $base-space/2;
      .setup-form {
        width: 100%;
      }
    }
  }
}
