@import "styles.scss";

#video-container {
  margin: 0 auto;
  max-width: $max-width;
}

#video {
  height: auto;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
  position: relative;
  width: auto;
}

#video #click-blocker {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
